@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    background-color: theme('colors.surface.DEFAULT');
    color: #e6e8ee;
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
  }
}
